@import url('https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,100..900;1,100..900&family=Marcellus&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Georama", sans-serif;
  line-height: 1.5;
  color-scheme: light;
  color: #1e293b;
  background-color: #f8fafc;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f8fafc;
}

#app {
  width: 100%;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #55CABB transparent;
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #30BEAD;
  border-radius: 9999px;
  transition: background 0.3s ease, box-shadow 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #269889;
  box-shadow: 0 0 8px #55CABB;
}

::-webkit-scrollbar-corner {
  background: transparent;
}
